 @font-face {
     font-family: 'Proxima Nova Lt';
     src: url('ProximaNova-Semibold.woff2') format('woff2'),
         url('ProximaNova-Semibold.woff') format('woff');
     font-weight: 600;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Proxima Nova Th';
     src: url('../fonts/ProximaNovaT-Thin.woff2') format('woff2'),
         url('../fonts/ProximaNovaT-Thin.woff') format('woff');
     font-weight: 100;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Proxima Nova Rg';
     src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
         url('../fonts/ProximaNova-Bold.woff') format('woff');
     font-weight: bold;
     font-style: normal;
     font-display: swap;
 }
 @font-face {
     font-family: 'Proxima Nova Lt';
     src: url('../fonts/ProximaNova-Light.woff2') format('woff2'),
         url('../fonts/ProximaNova-Light.woff') format('woff');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Proxima Nova Rg';
     src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
         url('../fonts/ProximaNova-Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
 }
 /* Base CSS */
 a:focus {
     outline: 0 solid
 }

 * {
     box-sizing: border-box;
 }

 img {
     max-width: 100%;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     margin: 0 0 15px;
     color: #1B1B21;
     font-family: 'Proxima Nova Lt';
     font-weight: 600;
 }

 body {
     color: #545051;
     max-width: 400px;
     margin: auto;
 }

 .selector-for-some-widget {
     box-sizing: content-box;
 }

 a:hover {
     text-decoration: none
 }

 button:focus {
     outline: 0;
     outline: 5px auto -webkit-focus-ring-color;
 }

 /*banner-area-start*/
 #bg-exit {
     cursor: pointer;
     z-index: 1;
     position: relative;
     font-size: 30px;
     color: #fff;
     float: right;
     padding-right: 17px;
 }
#bg-exit a {
	color: #fff;
}
 .banner-slider {
     position: relative;
     width: 100%;
     margin: auto;
     overflow: hidden;
     padding-bottom: 30px;
 }
 .slider-inner {
     position: relative;
     width: 100%;
     margin: auto;
     overflow: hidden;
     padding-bottom: 100px;
     padding-top: 15px;
 }
 .slider-inner:before {
     position: absolute;
     content: '';
     height: 100%;
     background: #278EEE;
     transform: skewY(-10deg);
     width: 100%;
     left: 0;
     bottom: 60px;
 }
 .banner-heading {
     padding-top: 48px;
     margin-bottom: 40px;
     text-align: center;
 }
 .banner-heading h1 {
     color: #fff;
     font-size: 32px;
     font-weight: 600;
     position: relative;
     padding: 10px 13px;
 }
 .banner-heading img {
     position: relative;
     margin-bottom: 12px;
     height: 35px;
     text-align: center;
 }
 .banner-details {
     text-align: center;
     padding-bottom: 15px;
 }
 .banner-details p {
     font-family: 'Proxima Nova Lt';
     font-weight: 600;
     font-style: normal;
     font-size: 14px;
     line-height: 20px;
     color: #fff;
     position: relative;
     margin-bottom: 30px;
 }
 .banner-details img {
     max-height: 100px;
     margin-bottom: 40px;
     position: relative;
 }
 .vector img {
     position: absolute;
     top: 0;
     left: 0;
 }
 .banner-footer {
     text-align: center;
 }
 .btn-try {
     background: #2C90ED;
     color: #fff;
     border: 0;
     border-radius: 5px;
     padding: 9px 25px;
     width: 280px;
     height: 45px;
     margin-bottom: 30px;
     position: relative;
     box-shadow: 1px 5px 20px skyblue;
     margin: auto;
     margin-bottom: 30px;
     font-family: 'Proxima Nova Lt';
     font-weight: 600;
     display: block;
 }
 .btn-try:hover {
     color: #fff;
     text-decoration: none
 }
 .banner-footer span a {
     font-family: 'Proxima Nova Rg';
     font-weight: bold;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 12px;
     letter-spacing: 0em;
     color: #222;
     text-decoration: underline;
 }
 .slider-active .owl-nav button {
     position: absolute;
     left: 30px;
     top: 50%;
     transform: translateY(-50%);
     background: #fff !important;
 }
 .owl-dots {
     position: absolute;
     bottom: 18px;
     width: 100%;
     text-align: center;
 }
 .owl-next {
     left: auto !important;
     right: 30px;
 }
 .slider-active .owl-dots button {
     height: 10px;
     width: 10px;
     background: #55A6F1;
     display: inline-block;
     margin: 0 4px;
     border-radius: 100%;
     text-align: center;
     position: unset;
     z-index: 999;
     margin-top: -21px;
     bottom: 40px;
 }
 .owl-dot.active {
     background: #FFFFFF !important;
 }
.slider-inner{
    position: relative;
    z-index: 99;
}
 /*banner-area-end*/
